@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: roboto,sans-serif;
    font-weight: 500;
    color: #3a3a3a;

    
}
/* header logo and menu elements */
#logo{
    float: left;
    margin-left: 2%;
}
#menu{
    float: right;
    margin-right: 2%;
}
#logo, #menu{
    line-height: 75px;
}
#menu li{
    float: left;
    list-style: none;
    padding-right: 15px;
}
#menu a{
    text-decoration: none;
}
#menu a:hover{
    border-bottom: 1.5px solid #3a3a3a;
    font-weight: 800;
     transition: 0.2s;
     
}
.active{
    border-bottom: 1.5px solid #3a3a3a;
    font-size: 100% !important;
}
/* hero images and cover text */
#hero-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
}
#hero-outer > div{
    height: 600px;
    width: 100%;
    /* hero images zoom animation */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}
/* hero images */
#hero-home{
    background: url(../images/hero-home.jpg);
}
#hero-mind{
    background: url(../images/mind-hero.jpg);
}
#hero-yoga{
    background: url(../images/yoga-hero.jpg);
}
#hero-med{
    background: url(../images/med-hero.jpg);
}
#hero-contact{
    background: url(../images/hero-contact.jpg);
}
#hero-404{
    background: url(../images/404-hero.jpg);
}
#cover-text-hero{
    width: 250px;
    height: 160px;

    background-color: rgba(214, 220, 207, 0.6);
    color: inherit;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    bottom: 170px;
    right: 200px;

    position: absolute;
}
#cover-text-hero h2{
    padding-bottom: 20px;
}
#cover-text-hero h3{
    line-height: 25px;
}