@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: roboto,sans-serif;
    font-weight: 500;
    color: #3a3a3a;

    
}
#logo{
    float: left;
    margin-left: 2%;
}
#menu{
    float: right;
    margin-right: 2%;
}
#logo, #menu{
    line-height: 75px;
}
#menu li{
    float: left;
    list-style: none;
    padding-right: 15px;
}
#menu a{
    text-decoration: none;
}
#menu a:hover{
    border-bottom: 1.5px solid #3a3a3a;
    font-weight: 800;
     transition: 0.2s;
     
}
.active{
    border-bottom: 1.5px solid #3a3a3a;
    font-size: 100% !important;
}