@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: roboto,sans-serif;
    font-weight: 500;
    color: #3a3a3a;

    
}
hr{
    width: 90%;
    margin: 10px 5% 0 5%;
    border-top:1px solid #3a3a3a;
}

/* header logo and menu elements */
#logo{
    float: left;
    margin-left: 2%;
    font-size: 250%;
    
}
#menu{
    float: right;
    margin-right: 2%;
    font-size: 130%;
}
#logo, #menu{
    line-height: 75px;
    color: #3a3a3a;
}
#menu li{
    float: left;
    list-style: none;
    padding-right: 15px;
}
#menu a{
    text-decoration: none;
    color: #3a3a3a;
}
#menu a:hover{
    border-bottom: 1.5px solid #3a3a3a;
    font-weight: 800;
     transition: 0.2s;
     
}
.active{
    border-bottom: 1.5px solid #3a3a3a;
    font-size: 100% !important;
}
/* hero images and cover text */
#hero-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
}
#hero-outer > div{
    height: 600px;
    width: 100%;
    /* hero images zoom animation */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}
/* hero images */
#hero-home{
    background: url(../images/hero-home.jpg);
}
#hero-mind{
    background: url(../images/mind-hero.jpg);
}
#hero-yoga{
    background: url(../images/yoga-hero.jpg);
}
#hero-med{
    background: url(../images/med-hero.jpg);
}
#hero-contact{
    background: url(../images/hero-contact.jpg);
}
#hero-404{
    background: url(../images/404-hero.jpg);
}
#cover-text-hero{
    width: 250px;
    height: 160px;

    background-color: rgba(214, 220, 207, 0.6);
    color: inherit;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    bottom: 170px;
    right: 200px;

    position: absolute;
}
#cover-text-hero h2{
    padding-bottom: 20px;
}
#cover-text-hero h3{
    line-height: 25px;
}
/* summary,setup, benefits and basics sections */
#summary h2, #setup h2, #benefits h2, #basics h2{
    padding: 20px 0;
    text-align: center;
}
#summary p, #setup p, #benefits p, #basics p{
    line-height: 30px;
}
#summary p,#setup, #benefits{
    margin: 0 5%;
}
/* setup */

#setup ul{
    list-style: none;
    text-align: center;
    line-height: 75px;
    vertical-align: top;
}
.medium-img-container{
    height: 300px;
    width: 40%;
    display: inline-block;
}
#med-setup{
    background: url(../images/med-setup.jpg) no-repeat center center;
    background-size: 100%;
    height: 100%;
    width: 100%;
    
}
#setup-list{
    width: 40%;
    display: inline-block;
    font-size: 120%;
  
}
#setup-icons{
    width: 19%;
    display: inline-block;
    font-size: 200%;
    
}
/* benefits */
#benefits ul{
    list-style: none;
}
.small-img-container{
    height: 300px;
    width: 33%;
    display: inline-block;
}
.benefits-overlay-text{
    height: 100%;
    width: 100%;
    background-color: rgba(114, 117, 111, 0.6);
    color: #ffff;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
}


#benefits-med-1{
    background: url(../images/med-benefit-1.jpg) no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: 120%;
}
#benefits-med-2{
    background: url(../images/med-benefit-2.jpg) no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: 120%;
}
#benefits-med-3{
    background: url(../images/med-benefit-3.jpg) no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: 120%;
}
.benefits-list i{
    font-size: 200%;
}
/* benefits-further-info */
 #benefits-further-info{
     width: 100%;
 }
#benefits-further-info h3,#benefits-further-info p {
    width: 33%;
    display: inline-block;
    line-height: 30px;
    padding-top:10px;
    text-align: center;
    
}
#benefits-further-info h3{
    text-align: center;
    padding-bottom: 20px;
}
#benefits-further-info p{
    vertical-align: top;
}
/* basics and video */
#basics{
    text-align: center;
}
#basics p{
    padding-bottom: 20px;
}
/* sign up section */
#sign-up{
    margin-top: 50px;
    height: 300px;
    width: 100%;
    
}
.sign-up-textbox{
    margin-left: 15%;
    width: 30%;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 30px;
    border-radius: 20px;
    line-height: 30px;
    background-color: rgba(214, 220, 207, 0.6);
}
.sign-up-form{
 background-color: rgba(214, 220, 207, 0.6);
   border-radius: 20px;
   margin-left: 5%;
     width: 30%;
     height: 250px;
    display: inline-block;
     
    
}
.sign-up-form input{
    width: 60%;
    margin-left: 25%;
    padding: 5px 0 5px 2px;
    
    
}
.sign-up-form label{
    margin-left: 5%;
    line-height: 40px;
   
    
}
.sign-up-form [type=submit], #contact-form [type=submit]{
    width: 20%;
    margin-left: 50%;
    padding: 5px;
    border-radius: 50px;
    background-color: #ffff;
}
.sign-up-form [placeholder], #contact-form [placeholder]{
    color: #3a3a3a;
}
/* sign up hover functions */
.sign-up-form input:hover, #contact-form input:hover{
     background-color: lightblue;
}
.sign-up-form [type=submit]:hover, #contact-form [type=submit]:hover{
    background-color: lightblue;
    font-weight: 600;
}
/* lower img blocks section */
#lower-img-blocks{
    background: url(../images/lower-section.jpg)no-repeat center center;
    height: 200px;
    width: 100%;
    background-size: 100%;
    display: flex;
}
#lower-img-blocks div{
    display: inline-block;
    height: 200px;
    width: 25%;
    background-color: rgba(114, 117, 111, 0.6);
    color: #ffff;
    font-weight: 800;
    text-align: center;
    font-size: 200%;
    line-height: 100px;
    border: 2px solid #ffff;
}
/* footer elemnts social etc */
footer{
    width: 100%;
    height: 180px;
    background-color: rgba(214, 220, 207, 0.6);
}
footer a{
    color: #3a3a3a;
}
#social{
    text-align: center;
}
#social li{
    display: inline-block;
    padding: 20px;
    font-size: 200%;
    color: #ffff;
}
#contact{
    text-align: center;
    line-height: 50px;
    font-size: 120%;
}
#contact a{
    text-decoration: none;
}
/* contact form */
#contact-form{
    background-color: rgba(214, 220, 207, 0.6);
   border-radius: 20px;
   margin:30px 25%;
     width: 50%;
     height: 770px;
    display: inline-block;
    line-height: 50px;
}
#contact-form h2{
    text-align: center;
    font-size: 160%;
    
}
#contact-form input, #query-subject{
    width: 60%;
    margin-left: 25%;
    padding: 15px 0 15px 10px;
    font-size: 110%;
}
#contact-form label{
    margin-left: 5%;
    line-height: 40px;
    font-size: 110%;
}
#query{
    width: 60%;
    margin-left: 25%;
    padding: 15px 0 15px 10px;
    font-size: 110%;
    height: 150px;
    line-height: 20px;
}